In [1]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download("vader_lexicon")
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/reviews%20data.csv")
data

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

                                                  Review
0      nice hotel expensive parking got good deal sta...
1      ok nothing special charge diamond member hilto...
2      nice rooms not 4* experience hotel monaco seat...
3      unique, great stay, wonderful time hotel monac...
4      great stay great stay, went seahawk game aweso...
...                                                  ...
20486  best kept secret 3rd time staying charm, not 5...
20487  great location price view hotel great quick pl...
20488  ok just looks nice modern outside, desk staff ...
20489  hotel theft ruined vacation hotel opened sept ...
20490  people talking, ca n't believe excellent ratin...

[20491 rows x 1 columns]

In [9]:
sentiments = SentimentIntensityAnalyzer()
data["Positive"] = [sentiments.polarity_scores(i)["pos"] for i in data["Review"]]
data["Negative"] = [sentiments.polarity_scores(i)["neg"] for i in data["Review"]]
data["Neutral"] = [sentiments.polarity_scores(i)["neu"] for i in data["Review"]]
data["Compound"] = [sentiments.polarity_scores(i)["compound"] for i in data["Review"]]

In [10]:
data

,Review,Positive,Negative,Neutral,Compund,Compound
0,nice hotel expensive parking got good deal sta...,0.285,0.072,0.643,0.9747,0.9747
1,ok nothing special charge diamond member hilto...,0.189,0.110,0.701,0.9787,0.9787
2,nice rooms not 4* experience hotel monaco seat...,0.219,0.081,0.700,0.9889,0.9889
3,"unique, great stay, wonderful time hotel monac...",0.385,0.060,0.555,0.9912,0.9912
4,"great stay great stay, went seahawk game aweso...",0.221,0.135,0.643,0.9797,0.9797
...,...,...,...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",0.272,0.063,0.665,0.9834,0.9834
20487,great location price view hotel great quick pl...,0.430,0.000,0.570,0.9753,0.9753
20488,"ok just looks nice modern outside, desk staff ...",0.145,0.131,0.724,0.2629,0.2629
20489,hotel theft ruined vacation hotel opened sept ...,0.179,0.150,0.671,0.9867,0.9867
20490,"people talking, ca n't believe excellent ratin...",0.140,0.193,0.668,-0.6071,-0.6071

In [12]:
score = data["Compound"].values
sentiment = []
for i in score:
    if i >= 0.05:
        sentiment.append("Positive")
    elif i <= -0.05:
        sentiment.append("Negative")
    else:
        sentiment.append("Neutral")
data["Sentiment"] = sentiment

In [15]:
data.Sentiment.value_counts()

Positive    18831
Negative     1569
Neutral        91
Name: Sentiment, dtype: int64

In [25]:
data[data.Sentiment == "Negative"]

,Review,Positive,Negative,Neutral,Compund,Compound,Sentiment
27,met expectations centrally located hotel block...,0.120,0.163,0.718,-0.3814,-0.3814,Negative
40,"bad choice, booked hotel hot wire called immed...",0.067,0.192,0.741,-0.9249,-0.9249,Negative
42,warwick bad good reviews warwick shocks staff ...,0.079,0.458,0.463,-0.9169,-0.9169,Negative
44,"austin powers decor familiar, hotel seattlewhe...",0.169,0.182,0.650,-0.1561,-0.1561,Negative
65,"hated inn terrible, room-service horrible staf...",0.000,0.544,0.456,-0.9360,-0.9360,Negative
...,...,...,...,...,...,...,...
20465,not stay hotel brought group february worst ho...,0.089,0.250,0.661,-0.8750,-0.8750,Negative
20467,returning la concha nightmare surprising hotel...,0.102,0.162,0.736,-0.6057,-0.6057,Negative
20484,deceptive staff deceptive desk staff claiming ...,0.046,0.207,0.747,-0.9470,-0.9470,Negative
20485,not impressed unfriendly staff checked asked h...,0.152,0.182,0.666,-0.5013,-0.5013,Negative
20490,"people talking, ca n't believe excellent ratin...",0.140,0.193,0.668,-0.6071,-0.6071,Negative

In [26]:
data.to_csv("labeled_date.csv")