In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/dataset.csv")
data

                                                    Text  language
0      klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1      sebes joseph pereira thomas  på eng the jesuit...   Swedish
2      ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4      de spons behoort tot het geslacht haliclona en...     Dutch
...                                                  ...       ...
21995  hors du terrain les années  et  sont des année...    French
21996  ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...      Thai
21997  con motivo de la celebración del septuagésimoq...   Spanish
21998  年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...   Chinese
21999   aprilie sonda spațială messenger a nasa și-a ...  Romanian

[22000 rows x 2 columns]

In [2]:
data.isnull().sum()

Text        0
language    0
dtype: int64

In [4]:
data["language"].value_counts()

Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: language, dtype: int64

In [5]:
data[data["language"] == "Turkish"]

                                                    Text language
6      tsutinalar i̇ngilizce tsuutina kanadada albert...  Turkish
55     arianespace şirketi vegayı kutupsal ve güneş e...  Turkish
105    "heroes"  eurovision şarkı yarışmasını  puanla...  Turkish
124    web uygulamalarına atfedilmiş bir güvenlik duv...  Turkish
142    köyde ilköğretim okulu vardır ancak kullanılma...  Turkish
...                                                  ...      ...
21930  ağustos de osman wöber ve erdem ergüney gibi o...  Turkish
21948  theodora eşi ve bizans i̇mparatorluğunun impar...  Turkish
21968  arjantin avusturya belçika bulgaristan çek cum...  Turkish
21978  united we stand what more can i give washingto...  Turkish
21988  molla nasreddinin kurucusu celil memmedgülüzad...  Turkish

[1000 rows x 2 columns]

In [9]:
x = np.array(data["Text"])
y = np.array(data["language"])

cv = CountVectorizer()
X = cv.fit_transform(x)
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [17]:
model = MultinomialNB()
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.953168044077135

In [24]:
user = input("Enter a text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a text:  Belle C'est un mot qu'on dirait inventé pour elle

['French']